//META{"name":"Darkos Tweaks","description":"Some extra tweaks from Darko.","author":"DarkoPendragon","version":"3.2"}*//{}
@import url(https://cdn.jsdelivr.net/gh/DarkoPendragon/darkosteaks-betterdiscord@latest/source/theme.css);
:root {
  --mainback: center/cover no-repeat url(https://images6.alphacoders.com/641/641430.jpg);
  /* Description: Sets the background property of the main background.
  * Defaut:  center/cover no-repeat url(https://images6.alphacoders.com/641/641430.jpg); */

  --dropback: center/cover no-repeat url(https://images6.alphacoders.com/641/641430.jpg);
  /* Description: Sets the background property of the dropback background.
  * Defaut:  center/cover no-repeat url(https://images6.alphacoders.com/641/641430.jpg); */

  --dropback-opacity: 0.8;
  /* Description: Sets the opacity property of the dropback background.
  * Defaut:  0.8; */

  --homeiconback: center/cover no-repeat url(https://thumbs.gfycat.com/MeaslyRecentHypsilophodon-small.gif);
  /* Description: Sets the background property of the Friends icon (top left).
  * Defaut:  url(https://thumbs.gfycat.com/MeaslyRecentHypsilophodon-small.gif); */

  --userpop: url(https://i.pinimg.com/originals/79/d7/45/79d7453086a0fad67d5da6cecb165250.gif);
  /* Description: Sets the background property of the user popout (e.g when you click on someones avi in chat).
  * Defaut:  url(https://i.pinimg.com/originals/79/d7/45/79d7453086a0fad67d5da6cecb165250.gif); */

  --float-speed: 4s;
  /* Description: Sets the number of seconds a float animation takes to finish.
  * Defaut:  4s; */

  --rootwidth: 400px;
  /* Description: Sets the width of the root class (when you click on "View Profile").
  * Defaut:  400px; */

  --rootheight: 600px;
  /* Description: Sets the height of the root class (when you click on "View Profile").
  * Defaut:  600px; */
}
